<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EE810 Noise Monitor</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="myapp/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="myapp/css/material-kit.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="main main-raised">
    <div class="container">
    <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Node Location</th>
          <th>Current Level</th>
      </thead>
      <tbody>
        {% if nodes %}
        {% for node in nodes %}
          <tr>
            <td href="/myapp/{{node.id}}/">{{node.location}}</td>
            <td href="/myapp/{{node.id}}/">{{node.current}}</td>
          </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  </div>


  </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="myapp/js/jquery.min.js" type="text/javascript"></script>
    <script src="myapp/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="myapp/js/material.min.js"></script>
  </body>
</html>
